{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1, // Means warning
    "prettier/prettier": 2, // Means error
    "no-debugger": 2,
    "func-names": 0,
    "@typescript-eslint/no-var-requires": 0,
    "import/extensions": 0,
    "no-unused-expressions": "error",
    "no-unused-vars": "off",
    "no-shadow": "off"
  }
}
